# Ignore this
*.sketch
.github/todo.txt
*.log
.yarn-integrity
package-lock.json

# Build tools baby
dist

# Dependency directories
node_modules

# Firebase
.firebaserc
firebase.json

# Optional eslint cache
.eslintcache

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.code-workspace

# System Files
.AppleDouble
.LSOverride
*.DS_Store
Thumbs.db
